@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

#root {
  width: 90%;
  max-width: 380px;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--white);

  background-color: var(--grey-900);
}

.user-card {
  background-color: var(--grey-800);

  border-radius: 12px;

  padding: 30px;
}

.user-card nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-card nav a {
  display: block;
  color: var(--white);
  background-color: var(--grey-700);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.user-card nav a:hover {
  background-color: var(--green);
  color: var(--grey-900);
}

.user-card nav a:focus {
  background-color: var(--grey-900);
  outline: 3px solid var(--green);  
}

.user-card nav a i {
  padding-right: 8px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

header img {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 30px;
}

header h1 {
  font-weight: 600;
  font-size: 1.4rem;
}

header h2 {
  color: var(--green);
  font-weight: 400;
  font-size: 1.1rem;
}

header p {
  margin-top: 26px;
}